*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
   
}
body{
    background: #848cff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
}
.Quiz{
    background: black;
    
    min-height: 200px;
    min-width: 200px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    box-shadow: 10px 10px 42px 0px black;
    text-align: center;
    align-items: center;
}
.quiz{
   display: flex;
   justify-content: space-between;
   width: 100%;
   text-align: center;
   align-items: center;
}


.answerSection{
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button{
    width: 100%;
    font-size: 16px;
    color: blueviolet;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid blueviolet;
    margin: 5px 0;
    outline: none;
}
.button:hover{
    background-color: rgb(62, 39, 65);
    transition: all 0.3 ease;
}
.image{
    width: 400px;
}



