@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Ubuntu:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
body{
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  
}
.Quiz{
  margin-top: 120px;
  background: rgb(214,204,241); 
  
  min-height: 200px;
  min-width: 200px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
   
  text-align: center;
  align-items: center;
}
.quiz{
 display: flex;
 justify-content: space-between;
 width: 100%;
 text-align: center;
 align-items: center;
}


.answerSection{
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button{
  width: 100%;
  font-size: 16px;
  color: #000000; 
  background-color:  rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #666; 
  margin: 5px 0;
  outline: none;
}
.button:hover{
  background-color:rgb(240, 237, 251); 
  transition: all 0.3 ease;
}
.image{
  width: 400px;
  
}
@media screen and (max-width: 650px) {
  .Quiz   {
      margin-top: 250px;
      width: 380px;
  }
  .quizPanelImage{
      width: 250px;
      margin-left: 5%;
  }
  .image{
      width: 340px;
  }
}
