 
.QuizInfo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom:10%;
   
}

.QuizInfoPanel{
    z-index: 4;
    
    background-color:  rgb(214,204,241); 
    border-radius: 15px;
    height: 100%;
    padding: 5px 5px 5px 5px;
     
    
}
.mainInfo{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom:10%;
}
.mainInfo h3, p, h4{
    padding-top: 4%;
}
.CloseIcon{
    float: right;
    cursor: pointer;
}
 
@media screen and (max-width: 800px) {
    .QuizInfoPanel   {
        width: 300px;
    }
    
    
}
