@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Rampart+One&display=swap');
.header {
   overflow: hidden;
   background-color:  rgb(214,204,241); 
   padding: 10px 10px;
   position: absolute;
   top: 0; 
   left: 0;
   width: 100%;
   border-bottom: 2px solid #666; 
  }
  
  /* Стиль ссылок шапки */
  .header a {
    float: left;
    color: #000000; 
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Стиль ссылки логотипа */
  .header a.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Rampart One', cursive;
    margin-right: 30px;
  }
  
  /* Изменение цвета фона при наведении курсора */
  .header a:hover {
    background-color: #ffffff;
    color: #000000; 
  }
  
  /* Стиль активной/текущей ссылки */
  .header a.active {
    background-color: #666; 
    color: white;
   
  }
  
  /* Сдвигаем секцию со ссылками вправо */
  .header-right {
    float: right;
    margin-right: 30px;
  }
  
  /* Медиа-запрос для адаптивности – когда ширина
    экрана 650px или меньше, ссылки будут друг над другом */
  @media screen and (max-width: 800px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      position: absolute;
      top: 2%;
      right:5%;
    }
  }
  

.name{
 font-size: 24px;
}
.points{
  font-size: 20px;
}