.header {
   overflow: hidden;
   background-color:  rgb(214,204,241); 
   padding: 10px 10px;
   position: absolute;
   top: 0; 
   left: 0;
   width: 100%;
   border-bottom: 2px solid #000000;
  }
  
  /* Стиль ссылок шапки */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Стиль ссылки логотипа */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Изменение цвета фона при наведении курсора */
  .header a:hover {
    background-color: #ffffff;
    color: black;
  }
  
  /* Стиль активной/текущей ссылки */
  .header a.active {
    background-color: rgb(0, 0, 0);
    color: white;
   
  }
  
  /* Сдвигаем секцию со ссылками вправо */
  .header-right {
    float: right;
  }
  
  /* Медиа-запрос для адаптивности – когда ширина
    экрана 650px или меньше, ссылки будут друг над другом */
  @media screen and (max-width: 650px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


.name{
 font-size: 24px;
}
.points{
  font-size: 20px;
}