.quizPanelImage{
    width: 300px;
}
.QuizPanel{
    
    text-align: center;
    align-items: center;
    background-color: black;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px 42px 0px black;
    width: 400px;
}
.quizPanelImageContainer{
    width: 300px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}