 
.QuizPanel{
    text-align: center;
    align-items: center;
    background-color:  rgb(214,204,241); 
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
  
    width: 375px;
}
.quizPanelImageContainer{
    width: 300px;
    height: 250px;
    display: flex;
}
.quizPanelImage{
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
}
 
@media screen and (max-width: 650px) {
    .QuizPanel   {
        width: 300px;
    }
    .quizPanelImage{
        width: 250px;
        margin-left: 5%;
    }
    
}




