@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.panel{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 100px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 800px) {
    margin-top: 150px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.inputDiv{
   margin-top: 100px;
  
  
}
.AppContainer{
   
}
.search-input{
 
  font-size:20px;
  border: 0;
  margin-top: 20px;
  width: 200px;
}
.App{
  
  
  text-align: center;

}
@media screen and (max-width: 800px) {
  .panel   {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
       
  }
  .inputDiv{
    margin-top: 250px;
   
   
 }
  
}
