.panel{
    max-width: 800px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.App{
   
  margin-top: 60px;

}
@media screen and (max-width: 650px) {
  .panel   {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 300px;
  }
  
}
